*-timestamps.properties
*.log
.DS_Store
/MarkLogic/
build/
node_modules/
.gradle/
.ipynb_checkpoints/
.tmp/
__pycache__/
*.twbr
.classpath
.java-version
.project
.settings/
.vscode/
marklogic-datahub-5.2.0-rc1.war
marklogic-explorer-5.2.0-rc1.war
marklogic-pipes-1.0.jar